@model PagedModel<ProductViewModel>
@{
    var ff = Model;
    int SN = Model.FirstSerialNumber;
    PagedList pager = new PagedList();
    int pageNo = 0;
    if (Model.PagedList != null)
    {
        pager = Model.PagedList;
        pageNo = Model.PagedList.PageIndex;
        SN = ((Model.PagedList.PageIndex * Model.PagedList.PageSize) - Model.PagedList.PageSize) + 1;
    }
    string urlinstring = "Product/GetPaged";
    Pager pagemodel = new Pager() { PagedList = pager, StringUrl = urlinstring };
}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead style="background-color:#a9a9a93d;">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Sub CategoryName
                    </th>
                    <th>
                        Product Type
                    </th>
                    @if (Model.UserType == 1)
                    {
                        <th>
                            User Name
                        </th>
                    }
                    <th class="text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Models)
                {
                    <tr id="@SN">
                        <td>
                            @SN
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductSubCategoryName)
                        </td>
                        <td>
                            @if (item.ProductType == "R")
                            {
                                <span> Raw Product</span>
                            }
                            @if (item.ProductType == "F")
                            {
                                <span> Finish Product </span>
                            }
                        </td>
                        @if (Model.UserType == 1)
                        {
                            <th>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </th>
                        }
                        <td class="text-center">
                            @Html.ActionLink("", "UpdateRecort", new {id=item.Id},new {@class = "text-danger fas fa-edit",  onclick = "return confirm('Are you sure you want to edit this?')" }) |
                            @Html.ActionLink("","Delete", new {  id=item.Id},new {@class = "text-danger fas fa-trash",  onclick = "return confirm('Are you sure you want to delete this?')" })
                        </td>
                    </tr>
                    SN++;
                }
            </tbody>
        </table>
    </div>
</div>


<div class="card-footer">

    <div class="text-left">
        @await Html.PartialAsync("_productpaginationpartial", pagemodel)
    </div>
</div>
