@model PagedModel<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var ff = Model;
    int SN = Model.FirstSerialNumber;
    PagedList pager = new PagedList();
    int pageNo = 0;
    if (Model.PagedList != null)
    {
        pager = Model.PagedList;
        pageNo = Model.PagedList.PageIndex;
        SN = ((Model.PagedList.PageIndex * Model.PagedList.PageSize) - Model.PagedList.PageSize) + 1;
    }
    string urlinstring = "Product/GetPaged";
    Pager pagemodel = new Pager() { PagedList = pager, StringUrl = urlinstring };

}


<style>
    .text-sm .select2-container--default .select2-selection--single, select.form-control-sm ~ .select2-container--default .select2-selection--single {
        height: calc(2.18rem + 2px) !important;
    }



</style>
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center shadow">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active">  Product List  </li>
            </ol>
            <div>
                <a asp-action="AddRecord"><i class="fa fa-plus"></i>  Add Product </a>
            </div>
        </div>
    </div>
</div>

<section class="">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100 mb-4">
                    <div class="col-md-10 col-sm-6">
                        <h5> <i class="fas fa-list"></i>  All Product Category  </h5>
                    </div>

                    <div class="col-md-2 col-sm-6">
                        <div class="text-right" style="float:right !important">
                            <strong class="card-title">
                                Show
                                <select id="sizeperpageselectd" onchange="ProductLoadPagination('@pagemodel.StringUrl', 1)">
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                </select> per page
                            </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-3">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="ProductTypeId" class="control-label">Product Type</label>
                            <select class="form-control" id="ProductTypeId" name="ProductTypeId">
                                <option value="">-- Select Product Type --</option>
                                <option value="R">Raw Product</option>
                                <option value="F">Finish Product</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="ProductCategoryId" class="control-label"> Product Category</label>
                            <select id="ProductCategoryId" class="form-control select2">
                                <option value="">Select ProductCategory</option>
                            </select>
                        </div>
                    </div> 
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="ProductSubCategoryId" class="control-label"> Product Category</label>
                            <select id="ProductSubCategoryId" class="form-control select2" onchange="ProductLoadPagination('@pagemodel.StringUrl', 1)">
                                <option value="">Select SubCategoryId</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <label for="ProductCategoryId" class="control-label"> Search by Name, </label>
                        <div class="input-group">

                            <input type="text" class="form-control" name="Searchvalued" placeholder="Search by Name ,Product Category Name" id="Searchvalued">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button" onclick="ProductLoadPagination('@pagemodel.StringUrl', 1)"> Search </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div id="paginatedsection">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-bordered">
                            <thead style="background-color:#a9a9a93d;">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Code
                                    </th> 
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Category Name
                                    </th> 
                                    <th>
                                        Sub CategoryName
                                    </th>
                                    <th>
                                        Product Type
                                    </th>
                                    @if (Model.UserType == 1)
                                    {
                                        <th>
                                            User Name
                                        </th>
                                    }
                                    <th class="text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Models)
                                {
                                    <tr id="@SN">
                                        <td>
                                            @SN
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductCategoryName)
                                        </td> 
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductSubCategoryName)
                                        </td>
                                        <td>
                                            @if (item.ProductType == "R")
                                            {
                                                <span> Raw Product</span>
                                            }
                                            @if (item.ProductType == "F")
                                            {
                                                <span> Finish Product </span>
                                            }
                                        </td>
                                        @if (Model.UserType == 1)
                                        {
                                            <th>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </th>
                                        }
                                        <td class="text-center">
                                            @Html.ActionLink("", "UpdateRecort", new {id=item.Id},new {@class = "text-danger fas fa-edit",  onclick = "return confirm('Are you sure you want to edit this?')" }) |
                                            @Html.ActionLink("","Delete", new {  id=item.Id},new {@class = "text-danger fas fa-trash",  onclick = "return confirm('Are you sure you want to delete this?')" })
                                        </td>
                                    </tr>
                                    SN++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="card-footer">

                    <div class="text-left">
                        @await Html.PartialAsync("_productpaginationpartial", pagemodel)
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>

</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Configuration').addClass('menu-open');
            $('#ProductIndex').addClass('active');
        });


        function ProductLoadPagination(url, page) {

            var sizeperpage = $("#sizeperpageselectd").val();
            var status = $("#ProductCategoriesId").val();
            var ProductTypeId = $("#ProductTypeId").val();
            var stringsearch = $("#Searchvalued").val();
            var ProductCategoryId = $("#ProductCategoryId").val();
            var ProductSubCategoryId = $("#ProductSubCategoryId").val();

            $('#paginatedsection').empty();
            $.ajax({
                url: "/" + url + "?page=" + page + "&&pagesize=" + sizeperpage + "&&ProductCategoryId=" + ProductCategoryId + "&&ProductSubCategoryId=" + ProductSubCategoryId + "&&ProductType=" + ProductTypeId + " &&sarchString=" + stringsearch + "",
                type: 'GET',
                success: function (result) {
                    $('#paginatedsection').html(result);
                }
            });
        }

        $("#ProductTypeId").change(function () {
            var text = $("#ProductTypeId").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetByProductCategoryList", "ProductCategory")",
                datatype: "Json",
                data: { id: text },
                success: function (data) {
                    if (data) {
                        ProductLoadPagination('@urlinstring', 1);
                        $("#ProductCategoryId").empty();
                        $("#ProductCategoryId").append("<option value=''>Select ProductCategory</option>");
                        $(data.productCategoriesList).each(function (index, item) {
                            $("#ProductCategoryId").append("<option value='" + item.id + "'>" + item.name + "</option>");
                        });

                    }
                }
            });
        });

        $("#ProductCategoryId").change(function () {
            var ProductCategoryId = $("#ProductCategoryId").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetByProductCategoryList", "ProductSubCategory")",
                datatype: "Json",
                data: { id: ProductCategoryId},
                success: function (data) {
                    if (data) {
                  
                        $("#ProductSubCategoryId").empty();
                        $("#ProductSubCategoryId").append("<option value=''>Select Product Sub Category</option>");
                        $(data.productSubCategoriesList).each(function (index, item) {
                            $("#ProductSubCategoryId").append("<option value='" + item.id + "'>" + item.name + "</option>");
                        });
                    }
                }
            });
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }




