@model PagedModel<UserProductServiceViewModel>
@{
    ViewData["Title"] = "UserProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var ff = Model;
    int SN = Model.FirstSerialNumber;
    PagedList pager = new PagedList();
    int pageNo = 0;
    if (Model.PagedList != null)
    {
        pager = Model.PagedList;
        pageNo = Model.PagedList.PageIndex;
        SN = ((Model.PagedList.PageIndex * Model.PagedList.PageSize) - Model.PagedList.PageSize) + 1;
    }
    string urlinstring = "UsersProduct/GetPaged";
    Pager pagemodel = new Pager() { PagedList = pager, StringUrl = urlinstring };
}



</style>
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center shadow">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                <li class="breadcrumb-item active"> User Product List  </li>
            </ol>
            <div>
                <a asp-action="Index"><i class="fa fa-plus"></i>  User Product </a>
            </div>
        </div>
    </div>
</div>

<section class="">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100 mb-4">
                    <div class="col-md-10 col-sm-6">
                        <h5> <i class="fas fa-list"></i>  All User Product  </h5>
                    </div>

                    <div class="col-md-2 col-sm-6">
                        <div class="text-right" style="float:right !important">
                            <strong class="card-title">
                                Show
                                <select id="sizeperpageselectd" onchange="ProductLoadPagination('@pagemodel.StringUrl', 1)">
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                </select> per page
                            </strong>
                        </div>
                    </div>
                </div>
            </div>


            <div id="paginatedsection">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-bordered">
                            <thead style="background-color:#a9a9a93d;">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Company
                                    </th>
                                    <th>Product  </th>             
                                    <th>Unit Price  </th>
                                    <th>MRP  </th>
                                    <th>AVG Price  </th>
                                    <th class ="text-center"> Action  </th>
      
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Models)
                                {
                                    <tr id="@SN">
                                        <td>
                                            @SN
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                        </td>

                                        <td>
                                            @(item.ProductCategoryName+"-"+item.ProductSubCategoryName+"-"+item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MRP)
                                        </td> 
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AVGPrice)
                                        </td>
                                        <td class="text-center">
                                            <a data-toggle="modal" data-target="#exampleModal" onclick="markedit(@item.Id)"> <i class="fas fa-edit"></i> </a>
                                        </td>

                                    </tr>
                                    SN++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" for="Id" id="Id" name="Id" class="form-control" />
                                <div class="form-group">
                                    <label for="MRP" class="control-label"> MRP</label>
                                    <input for="MRP" id="MRP" name="MRP" class="form-control" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="Savechanges()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-footer">

                    <div class="text-left">
                        @await Html.PartialAsync("_pagingpartial", pagemodel)
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#User-Product').addClass('menu-open');
            $('#UserProductUserProductlist').addClass('active');
        });

        function markedit(id){
            $('#Id').val(id);
        }
        function Savechanges(){
           var id= $('#Id').val();
            var MRP = $('#MRP').val();
            console.log(id,MRP);
            $.ajax({
                type: "GET",
                url: "@Url.Action("UpdateProduct", "UsersProduct")",
                datatype: "Json",
                data: { id: id, mrp: parseFloat(MRP) },
                success: function (data) {
                    if(data){
                        location.reload();
                    }else{
                        alert("Sommething went wrong!");
                    }
                    
                }
            })
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }



