@model SalesViewModel
@{
    ViewData["Title"] = "Detalis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int SN = 1;
    decimal grosstota = Model.OtherCharge;
    decimal totalpurches = Model.MappVm.Select(f => f.SalesAmount).Sum();
}


<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                <li class="breadcrumb-item active"> Sales Detalis </li>
            </ol>
            <div>
                <a target="_blank" class="btn btn-sm btn-default mr-4" href="~/Sales/SalesDetailReport?id=@Model.Id"> Print </a>
                <a asp-action="Index"><i class="fa fa-list"></i> Sales  List</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-plus"></i>
                    Sales Detalis
                </h3>

            </div>
            <div class="card-body">

                <table class="table">
                    <tr>
                        <th style="width:18%">
                            Sales No
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.SalesOrderNo
                        </td>
                        <th style="width:18%"> Sales Date </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.SalesDate.ToShortDateString()</td>
                    </tr>

                    <tr>
                        <th style="width:18%">
                            Customer Name
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.CustomerName
                        </td>
                        <th style="width:18%"> Customer Mobile</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.CustomerMobile</td>
                    </tr>

                    <tr>
                        <th style="width:18%">
                            Customer Address
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.CustomerAddress
                        </td>
                        <th style="width:18%"> Payment Method</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.SupplierPaymentMethodEnumFK</td>
                    </tr>
                    <tr>
                        <th style="width:18%">
                            Delivery Date
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.DeliveryDate.ToShortDateString()
                        </td>
                        <th style="width:18%"> Delivery Address</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.DeliveryAddress</td>
                    </tr>

                </table>
                <div class="table-responsive mt-4">
                    <table class="table table-sm table-hover table-bordered">
                        <thead style="background-color:#a9a9a93d;">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>Product Name</th>
                                <th> Quantity </th>
                                <th>Unit</th>
                                <th>MRP</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vm in Model.MappVm)
                            {
                                <tr id="@SN">
                                    <td>
                                        @SN
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => vm.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => vm.SalesQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => vm.PackSize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => vm.SalesRate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => vm.SalesAmount)
                                    </td>
                                </tr>

                                SN++;
                            }

                            <tr>
                                <td colspan="5" style="text-align: right;"> <b>Total Purches </b></td>
                                <td colspan="2" style="text-align: left;">@totalpurches</td>
                            </tr>


                            <tr>
                                <td colspan="5" style="text-align: right;"> <b>Other Charge </b></td>
                                <td colspan="2" style="text-align: left;"> @Model.OtherCharge</td>
                            </tr>

                            <tr>
                                <td colspan="5" style="text-align: right;"> <b>Gross Total </b></td>
                                <td colspan="2" style="text-align: left;">@(totalpurches + grosstota) </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

