@model PagedModel<SalesViewModel>
@{
    var ff = Model;
    int SN = Model.FirstSerialNumber;
    PagedList pager = new PagedList();
    int pageNo = 0;
    if (Model.PagedList != null)
    {
        pager = Model.PagedList;
        pageNo = Model.PagedList.PageIndex;
        SN = ((Model.PagedList.PageIndex * Model.PagedList.PageSize) - Model.PagedList.PageSize) + 1;
    }
    string urlinstring = "Sales/GetPaged";
    Pager pagemodel = new Pager() { PagedList = pager, StringUrl = urlinstring };
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead style="background-color:#a9a9a93d;">
                <tr>
                    <th>
                        #
                    </th>
                    <th> Sales No</th>
                    <th> Customer</th>
                    <th> Sales Date</th>
                    <th> Delivery Date </th>
                    <th> Delivery Address </th>
                    <th> Status </th>
                    <th class="text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Models)
                {
                    <tr id="@SN">
                        <td>
                            @SN
                        </td>
                        <td> <a target="_blank" href="~/Sales/SalesDetailReport?id=@item.Id"> @item.SalesOrderNo  </a>  </td>
                        <td>@item.CustomerName </td>
                        <td>@item.SalesDate.ToShortDateString() </td>
                        <td>@item.DeliveryDate.ToShortDateString() </td>
                        <td>@item.DeliveryAddress </td>
                        <td>
                            @if (@item.IsSubmited == true)
                            {
                                <b class="text-success">  Submitted  </b>
                            }
                            else
                            {
                                @Html.ActionLink("Draft","ChangeStatus", new {  id=item.Id},new {@class = "text-primary",  onclick = "return confirm('Are you sure you want to Submit this?')" })
                            }
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("", "UpdateRecord", new {id=item.Id},new {@class = "text-warning fas fa-edit",  onclick = "return confirm('Are you sure you want to edit this?')" }) |
                           @* @Html.ActionLink("","Delete", new {  id=item.Id},new {@class = "text-danger fas fa-trash",  onclick = "return confirm('Are you sure you want to delete this?')" })|*@
                            @Html.ActionLink("","Detalis", new {  id=item.Id},new {@class = "text-info fas fa-eye" })
                        </td>
                    </tr>
                    SN++;
                }
            </tbody>
        </table>
    </div>
</div>


<div class="card-footer">
    <div class="text-left">
        @await Html.PartialAsync("_pagingpartial", pagemodel)
    </div>
</div>

