@model VoucherViewModel
@{
    ViewData["Title"] = "Customer_Payment_Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int SN = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                <li class="breadcrumb-item active"> Custome Payment Details </li>
            </ol>
            <div>
                <a target="_blank" class="btn btn-sm btn-default mr-4" href="~/Collaction/Customer_Payment_Details_Report?id=@Model.Id"> Print </a>
                <a asp-action="Index"><i class="fa fa-list"></i> Custome Payment List</a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-plus"></i>
                    Custome Payment Detalis
                </h3>

            </div>
            <div class="card-body">

                <table class="table">
                    <tr>
                        <th style="width:18%">
                            Payment No
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.VoucherNo
                        </td>
                        <th style="width:18%"> Voucher Date</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.VoucherDate.ToShortDateString()</td>
                    </tr>

                    <tr>
                        <th style="width:18%">
                            Customer Name
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.VendorName
                        </td>
                        <th style="width:18%"> Customer Mobile</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.VendorName</td>
                    </tr>

                    <tr>
                        <th style="width:18%">
                            Customer Address
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.VendorEmail
                        </td>
                        <th style="width:18%"> Payment Method</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.SupplierPaymentMethodEnumFK</td>
                    </tr>
                    <tr>
                        <th style="width:18%">
                            Created Date
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.CreatedOn.ToShortDateString()
                        </td>
                        <th style="width:18%"> Created By</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">@Model.CreatedBy</td>
                    </tr>

                </table>
                <div class="table-responsive mt-4">
                    <table class="table table-sm table-hover table-bordered">
                        <thead style="background-color:#a9a9a93d;">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>Narration</th>
                                <th> Amount </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vm in Model.voucherDetalisViewModels)
                            {
                                <tr id="@SN">
                                    <td>
                                        @SN
                                    </td>
                                    <td>
                                        @Model.Narration
                                    </td>
                                    <td>
                                        @vm.CreditAmount
                                    </td>

                                </tr>

                                SN++;
                            }

                            <tr>
                                <td colspan="2" style="text-align: right;"> <b>Total Amount </b></td>
                                <td style="text-align: left;">@Model.voucherDetalisViewModels.Sum(f=>f.CreditAmount)</td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>